$xsmall: 400px;
$small: 800px;
$medium: 1000px;
$big: 1300px;

$nav_Size: 56px;

$font_Size: 10px;

$light_Shadow: 3px 3px 10px rgb(185, 185, 185);
$bg_Color: rgba(226, 240, 245, 0.705);
$light_Blue: rgba(138, 225, 252, 0.705);