@use 'generalStyles';
:root {--scrollPosition:0}

*{
    margin: 0;
    padding: 0;
}

body:before {
    content: ' ';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/Ile-de-France.png');
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.3;
    filter: blur(2px);
    z-index: -1;
}

@keyframes slideIn { to {transform: translateX(0px)} }

@keyframes slideUp { to {transform: translateX(0px)} }

@keyframes turnBlack { to {color: black} }

@keyframes fadeIn { to {opacity: 1;} }

@keyframes fadeOut { to {background-color: rgba(0, 0, 0, 0);} }

.welcome-text:first-of-type{ margin-top: 150px; }

.welcome-text{
    margin-left: 50px;
    color: white;
    transform: translateX(-100vw);
    transition: margin-left .2s linear;
}

.fadeOut{ animation: 0.8s fadeOut 3s ease forwards; }

.slide-1{ animation: 1s slideIn 0s ease forwards, 0.8s turnBlack 3s ease forwards; }

.slide-2{ animation: 1s slideIn 0.5s ease forwards, 0.8s turnBlack 3s ease forwards; }

.slide-3{ animation: 1s slideUp 3s ease forwards; }

.intro-text{
    margin: 10px 0 10px 50px;
    opacity: 0;
    animation: 0.8s fadeIn 3s ease forwards;
    transition: margin-left .2s linear;
    
    a{
        color: black;
        cursor: pointer;
    }

    &:first-of-type{ margin-top: 30px; }
}

.cv-pointer{
    width: 150px;
    margin: -50px 0 0 90px;
    opacity: 0;
    animation: 0.8s fadeIn 4s ease forwards;
    transition: margin-left .2s linear;
}

.box{
    display: inline-block;
    background-color: generalStyles.$light_Blue;
    padding: 5px;
    border-radius: 17px 0 17px 0;
    width: max-content;
    font-weight: bold;
}

.intro-overlay{
    z-index: -1;
    position: fixed;
    left: 0;
    top: calc(generalStyles.$nav_Size_Big);
    height: calc(100vh - generalStyles.$nav_Size_Big);
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;

    @media screen and (max-width: generalStyles.$small) {
        top: calc(generalStyles.$nav_Size_Small);
        height: calc(100vh - generalStyles.$nav_Size_Small);
    }
}

@media screen and (max-width: generalStyles.$small) {
    .welcome-text{ margin-left: 20px; }
    .intro-text{ margin-left: 20px; }
    .cv-pointer{ margin-left: 40px; }
}