.showcase {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  row-gap: 10px;
  flex-wrap: wrap;
}
.showcase input {
  height: 40px;
  max-height: 40px;
  width: 200px;
  max-width: 200px;
  margin-top: 10px;
  border: none;
  border-bottom: 2px solid rgba(138, 225, 252, 0.6);
  transition: all 0.7s cubic-bezier(0.86, 0, 0.07, 1) 0s;
  background-color: rgba(0, 0, 0, 0.1);
}
.showcase input:focus {
  outline: none;
}
.showcase .pop-settings {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 350px;
}
.showcase .pop-settings input {
  margin-bottom: auto;
}
.showcase .pop-settings button {
  margin-top: 10px;
  background-image: linear-gradient(to right, rgba(138, 225, 252, 0.2), rgba(138, 225, 252, 0.7));
  background-color: transparent;
  border: none;
  height: 40px;
}
.showcase form {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 350px;
}
.showcase form .passed {
  background-image: linear-gradient(to left, transparent, rgba(144, 238, 144, 0.4));
}
.showcase form .failed {
  background-image: linear-gradient(to left, transparent, rgba(255, 0, 0, 0.15));
}
.showcase form h5 {
  padding: 5px;
  margin: 0px;
}
.showcase form .star-container {
  display: flex;
  align-items: center;
}
.showcase form .star-container img {
  max-width: 20%;
  margin-top: 5px;
  padding-top: 5px;
}
.showcase form .star-container input {
  position: absolute;
}
.showcase form .star-container input::-webkit-slider-runnable-track {
  margin: 5px;
  background-color: transparent;
  border: none;
  padding: 0px;
  height: 40px;
}
.showcase form .star-container input::-moz-range-track {
  margin: 5px;
  background-color: transparent;
  border: none;
  padding: 0px;
  height: 40px;
}
.showcase form .star-container input::-ms-track {
  margin: 5px;
  background-color: transparent;
  border: none;
  padding: 0px;
  height: 40px;
}
.showcase form .star-container input::-webkit-slider-thumb {
  border: none;
  background-color: transparent;
}
.showcase form .star-container input::-moz-range-thumb {
  border: none;
  background-color: transparent;
}
.showcase form .star-container input::-ms-thumb {
  border: none;
  background-color: transparent;
}
.showcase form .buttons {
  max-width: 200px;
  min-width: 100px;
  max-height: 40px;
  display: flex;
  margin: 10px 0px;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.showcase form .buttons button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid rgba(138, 225, 252, 0.6);
  background-color: transparent;
}
.showcase .case {
  width: 200px;
  height: 350px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.showcase .case img {
  width: 200px;
}
.showcase .case .rating-container img {
  width: 20px;
}
.showcase .case .desc {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  padding: 7px 7px 50px 7px;
  border-top: 2px solid black;
  background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(138, 225, 252, 0.3));
}
.showcase .case .desc p {
  margin: 0;
  align-self: center;
}
.showcase .case .desc p:first-of-type {
  margin-top: -30px;
  margin-right: -7px;
  padding: 0 5px;
  align-self: flex-end;
  background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(138, 225, 252, 0.5));
}
.showcase .case .desc p:nth-of-type(2) {
  margin-bottom: auto;
  font-size: large;
  font-weight: bold;
}
.showcase .case .new-pop {
  width: 70px;
  height: 30px;
  background-image: linear-gradient(to left, rgba(0, 200, 0, 0.3), rgba(0, 209, 0, 0.9));
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 5px;
  margin-left: -130px;
}
.showcase .case .pop-buttons {
  width: 70px;
  height: 30px;
  background-image: linear-gradient(to right, rgba(138, 225, 252, 0.6), rgba(138, 225, 252, 0.9));
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 5px;
  margin-right: -129px;
}
.showcase .case .pop-buttons:nth-of-type(2) {
  margin-top: 40px;
}
.showcase [data-tooltip] {
  position: relative;
  border-bottom: 1px dashed #000;
  cursor: help;
}
.showcase [data-tooltip]::after {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  content: attr(data-tooltip);
  left: -129px;
  top: calc(100% + 5px);
  border-radius: 3px;
  box-shadow: 0 0 5px 2px rgba(100, 100, 100, 0.6);
  background-color: rgba(255, 255, 255, 0);
  z-index: 10;
  padding: 3px;
  width: 200px;
  transform: translateY(-20px);
  transition: all 150ms cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  font-size: small;
}
.showcase [data-tooltip]:hover::after {
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 1;
  transform: translateY(0);
  transition-duration: 300ms;
  transition-delay: 0.5s;
}

/*# sourceMappingURL=Pop.css.map */
